<nav class="navbar navbar-light" style="background-color: #0dcaf0;">
  <div class="container-fluid">
    <a class="navbar-brand">Restaurant Finder</a>
    <form class="d-flex">
    </form>
  </div>
</nav>