@{
  Layout = "_Layout";
}

<h1 class="mt-3">Welcome to the List of Restaurants!</h1>
<p>@Html.ActionLink("See all cuisines", "Index", "Cuisines")</p> 

<p>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</p> 